.container-cadastro-cliente{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.container-cadastro-box{
    /* width: 400px; */
    width: 50vw;
    height: 400px;
    border-radius: 10px;
    border-color: #0000;
    border: 10px solid var( --cor-primaria-escura);
    background-color: rgb(229, 216, 252);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container-cadastro-box button{
    width: 10vw;
    padding: 10px;
    font-size: 20px;
    margin: 10px;
}

.container-cadastro-box input{
    width: 15vw;
    padding: 15px;
    font-size: 20px;
    border: 1px solid black; 
    border-radius: 10px;
    margin: 10px;
}
