.container-cadastro-cliente{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.container-cadastro-box{
    /* width: 400px; */
    width: 50vw;
    height: 50vh;
    border-radius: 10px;
    border-color: #0000;
    border: 10px solid var( --cor-primaria-escura);
    background-color: rgb(229, 216, 252);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.container-cadastro-box input{
    width: 15vw;
    padding: 15px;
    font-size: 20px;
    border: 1px solid #fefefe; 
    border-radius: 10px;
    margin: 10px;
}


.btn-cad{
    width: 20vw;
    padding: 14px;
    font-size: 20px;
    margin: 10px;
    margin-right: 10px;
    border-radius: 5px;
    border: 1px solid var(--cor-sucesso);
    background-color: var(--cor-sucesso);
}

.btn-can{
    padding: 15px;
    height: 55px;
    margin-top: 2px;
    border: 1px solid var(--cor-erro);
    border-radius: 5px;
    background-color: var(--cor-erro);
    font-size: 20px;
}

.btn-cad:hover{
    box-shadow:0 0 20px var(--cor-sucesso);
    transition-duration: 1s;
    cursor: pointer;
}
.btn-can:hover{
    box-shadow: 0 0 20px var(--cor-erro);
    transition-duration: 1s;
    cursor: pointer;
}

.label1{
    display: flex;

}