.cabecalho_root {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    /* background-color: #ffffff;
    margin: 0; */
    /* padding: 10px 20px; */
}

.cabecalho-title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
}
