.container-login-cliente{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container-login-box{
    border: 1px solid aqua;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 10px;

        width: 50vw;
    height: 50vh;
    border-radius: 10px;
    border-color: #0000;
    box-shadow:  20px 20px 0 var(--cor-primaria-escura);
    background-color: rgb(229, 216, 252);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container-login-box input{
    width: 15vw;
    padding: 15px;
    font-size: 20px;
    border: 1px solid #fefefe; 
    border-radius: 10px;
    margin: 10px;
}

.btn-log{
    width: 30vw;
    padding: 14px;
    font-size: 20px;
    margin: 10px;
    margin-right: 10px;
    border-radius: 5px;
    border: 1px solid var(--cor-sucesso);
    background-color: var(--cor-sucesso);
}

.btn-log:hover{
    box-shadow:0 0 20px var(--cor-sucesso);
    transition-duration: 1s;
    cursor: pointer;
}

 
#email{
    border: none;
    outline: none;
    border-bottom: 5px solid var(--cor-primaria-escura);
    background-color: var(--cor);
    
}
#senha{
    border: none;
    outline: none;
    border-bottom: 5px solid var(--cor-primaria-escura);
    background-color: var(--cor);
}
