.navbar {
    /* background-color:var(--cor-primaria-escura);
    padding: 10px 20px;
    display: flex;
    border-radius: 2cap;
    justify-content: center;
    align-items: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); */
    background-color: var(--cor-primaria-escura);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 5vh;
    border-end-start-radius:50px ;
    border-end-end-radius:50px ;
    padding: 5px;
    font-size: 20px;
    font-weight: 500;
    margin: 0;
    box-shadow: 0 0 20px var(--cor-primaria-escura);
}

.navbar-list {
    list-style: none;
    display: flex;
    gap: 20px;
    margin: 0;
    padding: 0;
}

.navbar-item {
    text-decoration: none;
}

.navbar-link {
    text-decoration: none;
    color:aliceblue;
    font-size: 16px;
    transition: color 0.3s ease;
}

.navbar-link:hover {
    color: var(--cor-primaria-clara);
}
